
					<!--This code generated from Deliveries Powered by Mahat, Source Machine : 15.206.208.9 , Build Number : Build 14092021 #2021-09-014(Updated on 29102021 12:49) on 07/20/2023 16:16:48 -->
					@using Microsoft.AspNetCore.Http
					@inject IHttpContextAccessor HttpContextAccessor
					@model Timemajesty.Models.usersModel
					@{
					ViewData["Title"] = "users";
					Layout = "~/Views/Shared/_Layout.cshtml";
					}

					<div class="">
					     
					<div class="">

					      <div id="cma_printableArea">
	
                            <div class="row printablerow"> 
                             
                            <div class="col-sm-4 col-xs-12 p-2 firstname_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>First Name</label><br>
										<span class="auto_cls_firstname"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 lastname_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Last Name</label><br>
										<span class="auto_cls_lastname"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 profilepicture_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Profile Picture</label><br>
										<span class="auto_cls_profilepicture"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 username_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>UserName</label><br>
										<span class="auto_cls_username"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 emailid_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Email ID</label><br>
										<span class="auto_cls_emailid"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 mobilenumber_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Mobile Number</label><br>
										<span class="auto_cls_mobilenumber"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 userrole_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>User Role</label><br>
										<span class="auto_cls_userrole"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>

			 <div class="col-sm-12 col-xs-12 mt-3"><!--Dependent Allowed Devices Containder Block-->
					<div class="card card card-blue cma_dependent_band">
					<div class="card-head">
                            <header>
                                 Allowed Devices
                            </header>
                           
                        </div>
<div class="card-body fluent-card-body">
						 <div class="col-12">
							<div class="table-responsive-lg">
							<table id="alloweddevicesContainer" class="table table-bordered mb-0 alloweddevicesContainer">
							<thead id="alloweddevicesContainerHead">
								<th>Device Name</th>
<th>Device ID</th>
<th>Notification ID</th>


							</thead>
							
							<tbody id="alloweddevicesContainerBody"> 
							</tbody>
							
							</table>
							</div>
								</div>
						</div>
					  </div>
				  </div><!--Dependent Allowed Devices Containder Block-->
			 
            

											 
											 
                            </div>
                         </div>
						 <div class="row">
					            <div class="col-sm-12 col-xs-12">
					                <input type="button" class="btn cma_primary_button  waves-effect pull-right" onclick="printDiv('cma_printableArea')" value="Print" />

                                    <button type="button" id="btnSubmit" onclick="window.history.back()" class="btn btn-secondary cma_cancel_button waves-effect">Back</button>            

					            </div>
					        </div>					
  
                    </div>
					
                    <link href="~/components/jquery-colorbox/colorbox.css" rel="stylesheet" />
                    <script src="~/components/jquery-colorbox/jquery.colorbox.js"></script>
                    <link href="~/css/GallaryContent/style.css" rel="stylesheet" />
                    <link href="~/components/starrr/starrr.css" rel="stylesheet" />
					 
					<script type="text/javascript">
                     function printDiv(divName) {
                        var printContents = document.getElementById(divName).innerHTML;
                        var originalContents = document.body.innerHTML;

                        document.body.innerHTML = printContents;

                        window.print();

                        document.body.innerHTML = originalContents;
                    }
                    function fill_users_view_data(){

                       var  usersid = getUrlVars()["id"];
                                            $("#viewDetails_Auto").show()
											$(".auto_checker_action").hide()
                                                $.ajax({
												url: '@Url.Action("getById_sp_all_users")',
												dataType: 'json',
												data:{usersid: usersid },
												success: function(data) {

												var obj=data.Table[0]
													for (var key in obj) {
													
															$(".auto_cls_"+key).html(obj[key]);
														 	
															if(key=='profilepicture'){
																			$('.auto_cls_profilepicture').empty()
                                                                            if(obj[key] !=null)  {            
                                                                          
                                                                            var uploaded_profilepicture = obj[key].split('|');
                                                                            var iterate = 0;
                                                                            for (var i = 0; i < uploaded_profilepicture.length; i++) {


	                                                                            if (uploaded_profilepicture[i] != "") {
		                                                                            iterate = iterate + 1;
		                                                                            if (iterate == 1)
			                                                                            $('.auto_cls_profilepicture').append('<a href=' + uploaded_profilepicture[i] + ' class="imgprofilepicture auto_clr_profilepicture"><img  src=' + uploaded_profilepicture[i] + ' width="100px" /></a>')
		                                                                            else

			                                                                            $('.auto_cls_profilepicture').append('<div style="display:none"> <a href=' + uploaded_profilepicture[i] + ' class="imgprofilepicture auto_clr_profilepicture"><img  src=' + uploaded_profilepicture[i] + ' width="100px" /></a></div>')
		 
	                                                                            }


                                                                            }

                                                                            $('body').on('click', 'a.imgprofilepicture', function (e) {
                                                                            e.preventDefault();
                                                                            $('.imgprofilepicture').colorbox({ rel: '.imgprofilepicture', width: "90%", height: "80%" });
                                                                            $.colorbox({ open: true });
                                                                            });




                                                                                    }


																	}
if(key=='automaton_users_alloweddevices'){
																			$('#alloweddevicesContainerBody').empty()
                                                                            if(obj[key]!=null && obj[key] !="")
																			   $('#alloweddevicesContainerBody').append(get_dependent_table(obj[key]))
																	}


													}
												}

												})

                   }
                   

					$(document).ready(function () {


					fill_users_view_data()


					var Actions=getAutho("users","list")
					if(Actions == undefined){
					window.location = "@Url.Action("RoleAuthorizationFailed", "users")"
					}




					});
					 
					</script>
					 
					
