
					<!--This code generated from Deliveries Powered by Mahat, Source Machine : 15.206.208.9 , Build Number : Build 14092021 #2021-09-014(Updated on 29102021 12:49) on 07/17/2023 09:37:05 -->
					@using Microsoft.AspNetCore.Http
					@inject IHttpContextAccessor HttpContextAccessor
					@model DineandDiscover.Models.spclfeaturesModel
					@{
					ViewData["Title"] = "spclfeatures";
					Layout = "~/Views/Shared/_Layout.cshtml";
					}

					<div class="">
					     
					<div class="">

					      <div id="cma_printableArea">
	
                            <div class="row printablerow"> 
                             
                            <div class="col-sm-4 col-xs-12 p-2 spclfeatures_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>spcl features</label><br>
										<span class="auto_cls_spclfeatures"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Seating In Balcony</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-4 col-xs-12 p-2 videoofbalcony_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>video of Balcony</label><br>
										<span class="auto_cls_videoofbalcony"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 imageofbalcony_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>image of Balcony</label><br>
										<span class="auto_cls_imageofbalcony"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Kids Play area :</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-4 col-xs-12 p-2 imageofkidsplayarea_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Image of kids play area</label><br>
										<span class="auto_cls_imageofkidsplayarea"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 videoofkidsplayarea_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Video of kids play area</label><br>
										<span class="auto_cls_videoofkidsplayarea"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Cocktail</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-4 col-xs-12 p-2 imageofcocktail_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Image of cocktail</label><br>
										<span class="auto_cls_imageofcocktail"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 videoofcocktail_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Video of cocktail</label><br>
										<span class="auto_cls_videoofcocktail"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>opening Hours</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-4 col-xs-12 p-2 openingtime_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>opening time</label><br>
										<span class="auto_cls_openingtime"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 closingtime_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>closing time</label><br>
										<span class="auto_cls_closingtime"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Contact Information</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-4 col-xs-12 p-2 contactinfo_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Contact Info</label><br>
										<span class="auto_cls_contactinfo"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 contactmail_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Contact Mail</label><br>
										<span class="auto_cls_contactmail"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Accessibility</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-4 col-xs-12 p-2 specialfeaturefordisability_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>special feature for disability</label><br>
										<span class="auto_cls_specialfeaturefordisability"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 walkingstickavailable_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Walking stick available</label><br>
										<span class="auto_cls_walkingstickavailable"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 wheelchairavailability_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Wheel chair availability</label><br>
										<span class="auto_cls_wheelchairavailability"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Ambience</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-4 col-xs-12 p-2 imageofentrance_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>image of entrance</label><br>
										<span class="auto_cls_imageofentrance"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 videoofoverallrestaurant_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Video of overall restaurant</label><br>
										<span class="auto_cls_videoofoverallrestaurant"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 

											 
											 
                            </div>
                         </div>
						 <div class="row">
					            <div class="col-sm-12 col-xs-12">
					                <input type="button" class="btn cma_primary_button  waves-effect pull-right" onclick="printDiv('cma_printableArea')" value="Print" />

                                    <button type="button" id="btnSubmit" onclick="window.history.back()" class="btn btn-secondary cma_cancel_button waves-effect">Back</button>            

					            </div>
					        </div>					
  
                    </div>
					
                    <link href="~/components/jquery-colorbox/colorbox.css" rel="stylesheet" />
                    <script src="~/components/jquery-colorbox/jquery.colorbox.js"></script>
                    <link href="~/css/GallaryContent/style.css" rel="stylesheet" />
                    <link href="~/components/starrr/starrr.css" rel="stylesheet" />
					 
					<script type="text/javascript">
                     function printDiv(divName) {
                        var printContents = document.getElementById(divName).innerHTML;
                        var originalContents = document.body.innerHTML;

                        document.body.innerHTML = printContents;

                        window.print();

                        document.body.innerHTML = originalContents;
                    }
                    function fill_spclfeatures_view_data(){

                       var  spclfeaturesid = getUrlVars()["id"];
                                            $("#viewDetails_Auto").show()
											$(".auto_checker_action").hide()
                                                $.ajax({
												url: '@Url.Action("getById_sp_all_spclfeatures")',
												dataType: 'json',
												data:{spclfeaturesid: spclfeaturesid },
												success: function(data) {

												var obj=data.Table[0]
													for (var key in obj) {
													
															$(".auto_cls_"+key).html(obj[key]);
														 	
															if(key=='videoofbalcony'){
																			$('.auto_cls_videoofbalcony').empty()
                                                                            if(obj[key] !=null)  {            
  
                                                                            var uploaded_videoofbalcony = obj[key].split('|');
                                                                            var iterate = 0;
                                                                            for (var i = 0; i < uploaded_videoofbalcony.length; i++) {


	                                                                            if (uploaded_videoofbalcony[i] != "") {
		                                                                            iterate = iterate + 1;
		                                                                                 $('.auto_cls_videoofbalcony').append('<a href=' + uploaded_videoofbalcony[i] + ' class="videoofbalcony filedisplay"><i class="fa fa-file"></i></a>')
		                                                                    
	                                                                            }


                                                                            }

 
                                                                          }


																	}
if(key=='imageofbalcony'){
																			$('.auto_cls_imageofbalcony').empty()
                                                                            if(obj[key] !=null)  {            
                                                                          
                                                                            var uploaded_imageofbalcony = obj[key].split('|');
                                                                            var iterate = 0;
                                                                            for (var i = 0; i < uploaded_imageofbalcony.length; i++) {


	                                                                            if (uploaded_imageofbalcony[i] != "") {
		                                                                            iterate = iterate + 1;
		                                                                            if (iterate == 1)
			                                                                            $('.auto_cls_imageofbalcony').append('<a href=' + uploaded_imageofbalcony[i] + ' class="imgimageofbalcony auto_clr_imageofbalcony"><img  src=' + uploaded_imageofbalcony[i] + ' width="100px" /></a>')
		                                                                            else

			                                                                            $('.auto_cls_imageofbalcony').append('<div style="display:none"> <a href=' + uploaded_imageofbalcony[i] + ' class="imgimageofbalcony auto_clr_imageofbalcony"><img  src=' + uploaded_imageofbalcony[i] + ' width="100px" /></a></div>')
		 
	                                                                            }


                                                                            }

                                                                            $('body').on('click', 'a.imgimageofbalcony', function (e) {
                                                                            e.preventDefault();
                                                                            $('.imgimageofbalcony').colorbox({ rel: '.imgimageofbalcony', width: "90%", height: "80%" });
                                                                            $.colorbox({ open: true });
                                                                            });




                                                                                    }


																	}
if(key=='imageofkidsplayarea'){
																			$('.auto_cls_imageofkidsplayarea').empty()
                                                                            if(obj[key] !=null)  {            
                                                                          
                                                                            var uploaded_imageofkidsplayarea = obj[key].split('|');
                                                                            var iterate = 0;
                                                                            for (var i = 0; i < uploaded_imageofkidsplayarea.length; i++) {


	                                                                            if (uploaded_imageofkidsplayarea[i] != "") {
		                                                                            iterate = iterate + 1;
		                                                                            if (iterate == 1)
			                                                                            $('.auto_cls_imageofkidsplayarea').append('<a href=' + uploaded_imageofkidsplayarea[i] + ' class="imgimageofkidsplayarea auto_clr_imageofkidsplayarea"><img  src=' + uploaded_imageofkidsplayarea[i] + ' width="100px" /></a>')
		                                                                            else

			                                                                            $('.auto_cls_imageofkidsplayarea').append('<div style="display:none"> <a href=' + uploaded_imageofkidsplayarea[i] + ' class="imgimageofkidsplayarea auto_clr_imageofkidsplayarea"><img  src=' + uploaded_imageofkidsplayarea[i] + ' width="100px" /></a></div>')
		 
	                                                                            }


                                                                            }

                                                                            $('body').on('click', 'a.imgimageofkidsplayarea', function (e) {
                                                                            e.preventDefault();
                                                                            $('.imgimageofkidsplayarea').colorbox({ rel: '.imgimageofkidsplayarea', width: "90%", height: "80%" });
                                                                            $.colorbox({ open: true });
                                                                            });




                                                                                    }


																	}
if(key=='videoofkidsplayarea'){
																			$('.auto_cls_videoofkidsplayarea').empty()
                                                                            if(obj[key] !=null)  {            
  
                                                                            var uploaded_videoofkidsplayarea = obj[key].split('|');
                                                                            var iterate = 0;
                                                                            for (var i = 0; i < uploaded_videoofkidsplayarea.length; i++) {


	                                                                            if (uploaded_videoofkidsplayarea[i] != "") {
		                                                                            iterate = iterate + 1;
		                                                                                 $('.auto_cls_videoofkidsplayarea').append('<a href=' + uploaded_videoofkidsplayarea[i] + ' class="videoofkidsplayarea filedisplay"><i class="fa fa-file"></i></a>')
		                                                                    
	                                                                            }


                                                                            }

 
                                                                          }


																	}
if(key=='imageofcocktail'){
																			$('.auto_cls_imageofcocktail').empty()
                                                                            if(obj[key] !=null)  {            
                                                                          
                                                                            var uploaded_imageofcocktail = obj[key].split('|');
                                                                            var iterate = 0;
                                                                            for (var i = 0; i < uploaded_imageofcocktail.length; i++) {


	                                                                            if (uploaded_imageofcocktail[i] != "") {
		                                                                            iterate = iterate + 1;
		                                                                            if (iterate == 1)
			                                                                            $('.auto_cls_imageofcocktail').append('<a href=' + uploaded_imageofcocktail[i] + ' class="imgimageofcocktail auto_clr_imageofcocktail"><img  src=' + uploaded_imageofcocktail[i] + ' width="100px" /></a>')
		                                                                            else

			                                                                            $('.auto_cls_imageofcocktail').append('<div style="display:none"> <a href=' + uploaded_imageofcocktail[i] + ' class="imgimageofcocktail auto_clr_imageofcocktail"><img  src=' + uploaded_imageofcocktail[i] + ' width="100px" /></a></div>')
		 
	                                                                            }


                                                                            }

                                                                            $('body').on('click', 'a.imgimageofcocktail', function (e) {
                                                                            e.preventDefault();
                                                                            $('.imgimageofcocktail').colorbox({ rel: '.imgimageofcocktail', width: "90%", height: "80%" });
                                                                            $.colorbox({ open: true });
                                                                            });




                                                                                    }


																	}
if(key=='videoofcocktail'){
																			$('.auto_cls_videoofcocktail').empty()
                                                                            if(obj[key] !=null)  {            
  
                                                                            var uploaded_videoofcocktail = obj[key].split('|');
                                                                            var iterate = 0;
                                                                            for (var i = 0; i < uploaded_videoofcocktail.length; i++) {


	                                                                            if (uploaded_videoofcocktail[i] != "") {
		                                                                            iterate = iterate + 1;
		                                                                                 $('.auto_cls_videoofcocktail').append('<a href=' + uploaded_videoofcocktail[i] + ' class="videoofcocktail filedisplay"><i class="fa fa-file"></i></a>')
		                                                                    
	                                                                            }


                                                                            }

 
                                                                          }


																	}
if(key=='imageofentrance'){
																			$('.auto_cls_imageofentrance').empty()
                                                                            if(obj[key] !=null)  {            
                                                                          
                                                                            var uploaded_imageofentrance = obj[key].split('|');
                                                                            var iterate = 0;
                                                                            for (var i = 0; i < uploaded_imageofentrance.length; i++) {


	                                                                            if (uploaded_imageofentrance[i] != "") {
		                                                                            iterate = iterate + 1;
		                                                                            if (iterate == 1)
			                                                                            $('.auto_cls_imageofentrance').append('<a href=' + uploaded_imageofentrance[i] + ' class="imgimageofentrance auto_clr_imageofentrance"><img  src=' + uploaded_imageofentrance[i] + ' width="100px" /></a>')
		                                                                            else

			                                                                            $('.auto_cls_imageofentrance').append('<div style="display:none"> <a href=' + uploaded_imageofentrance[i] + ' class="imgimageofentrance auto_clr_imageofentrance"><img  src=' + uploaded_imageofentrance[i] + ' width="100px" /></a></div>')
		 
	                                                                            }


                                                                            }

                                                                            $('body').on('click', 'a.imgimageofentrance', function (e) {
                                                                            e.preventDefault();
                                                                            $('.imgimageofentrance').colorbox({ rel: '.imgimageofentrance', width: "90%", height: "80%" });
                                                                            $.colorbox({ open: true });
                                                                            });




                                                                                    }


																	}
if(key=='videoofoverallrestaurant'){
																			$('.auto_cls_videoofoverallrestaurant').empty()
                                                                            if(obj[key] !=null)  {            
  
                                                                            var uploaded_videoofoverallrestaurant = obj[key].split('|');
                                                                            var iterate = 0;
                                                                            for (var i = 0; i < uploaded_videoofoverallrestaurant.length; i++) {


	                                                                            if (uploaded_videoofoverallrestaurant[i] != "") {
		                                                                            iterate = iterate + 1;
		                                                                                 $('.auto_cls_videoofoverallrestaurant').append('<a href=' + uploaded_videoofoverallrestaurant[i] + ' class="videoofoverallrestaurant filedisplay"><i class="fa fa-file"></i></a>')
		                                                                    
	                                                                            }


                                                                            }

 
                                                                          }


																	}


													}
												}

												})

                   }
                   

					$(document).ready(function () {


					fill_spclfeatures_view_data()


					var Actions=getAutho("spclfeatures","list")
					if(Actions == undefined){
					window.location = "@Url.Action("RoleAuthorizationFailed", "users")"
					}




					});
					 
					</script>
					 
					
